<div id="ax-products">
  <div class="product-gallery">
   <div id="product-display">
    <div class="product-angle">
      <div id="front-angle">
        <img imageonclick ng-click="$root.selectedAngle = 'f';" ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_f.jpg"></img>
      </div>
      <div id="left-angle">
        <img imageonclick ng-click="$root.selectedAngle = 'l';" ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_l.jpg"></img>
      </div>
      <div id="back-angle">
        <img imageonclick ng-click="$root.selectedAngle = 'b';" ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_b.jpg"></img>
      </div>
      <div id="right-angle">
        <img imageonclick ng-click="$root.selectedAngle = 'r';" ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_r.jpg"></img>
      </div>
    </div>

    <div ng-show="$root.selectedAngle=='n'" class="main-image zoom" id="zoom-image-n">
      <img imageonload ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_n.jpg"></img>
    </div>
    <div ng-show="$root.selectedAngle=='f'" class="main-image zoom" id="zoom-image-f">
      <img imageonload ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_f.jpg"></img>
    </div>
    <div ng-show="$root.selectedAngle=='l'" class="main-image zoom" id="zoom-image-l">
      <img imageonload ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_l.jpg"></img>
    </div>
    <div ng-show="$root.selectedAngle=='b'" class="main-image zoom" id="zoom-image-b">
      <img imageonload ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_b.jpg"></img>
    </div>
    <div ng-show="$root.selectedAngle=='r'" class="main-image zoom" id="zoom-image-r">
      <img imageonload ng-src="products/{{product.productId}}/{{product.productId}}_{{$root.selectedColor.productColorId}}_{{$root.selectedGraphics.productGraphicsId}}_{{$root.selectedGraphicsColor.productGraphicsColorId}}_r.jpg"></img>
    </div>
    <div class="product-details">
      <h1 id="product-title" class="title">{{product.name}}</h1>
      <p id="product-description">{{product.description}}</p>
    </div>
    </div>
  </div>
  <div class="product-graphics-colors">
    <div id="graphics-colors-title" class="title">{{graphicsColorsTitle}}</div>
    <div class="blocks-container">
	    <div class="blocks" ng-repeat="graphicsColor in productGraphicsColorsList">
	      <img imageonclick ng-click="$root.selectedGraphicsColor = graphicsColor;" id="product-graphics-color-{{graphicsColor.productGraphicsId}}" ng-src="products/{{product.productId}}/{{product.productId}}_{{graphicsColor.productColorId}}_{{graphicsColor.productGraphicsId}}_{{graphicsColor.productGraphicsColorId}}_f.jpg"></img> 
	      <p>{{graphicsColor.productGraphicsColorName}}</p>
	    </div>
    </div>
  </div>
  <div class="product-graphics">
    <div id="graphics-title" class="title">{{graphicsTitle}}</div>
    <div class="blocks-container">
	    <div class="blocks" ng-repeat="product in productGraphicsList">
	      <img imageonclick ng-click="productGraphicsChange(product.productGraphicsId, product.productGraphicsColorId)" ng-src="products/{{product.productId}}/{{product.productId}}_{{product.productColorId}}_{{product.productGraphicsId}}_{{product.productGraphicsColorId}}_f.jpg"></img>
	      <p class="feature-description">{{product.productGraphicsName}}</p>
	    </div>
    </div>
  </div>
</div>
